<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lucky.customviewlearn">

    <application
        android:name=".CustomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".scroller.ui.ScrollerLearnActivity" />
        <activity android:name=".scroller.ui.ExtScrollerLearnActivity" />
        <activity android:name=".scroller.ui.AdvancedScrollerActivity" />
        <activity android:name=".canvas.ui.PieViewLearnActivity" />
        <activity android:name=".canvas.ui.CheckMarkActivity" />
        <activity android:name=".canvas.ui.CustomCircleActivity" />
        <activity android:name=".path.ui.PathViewActivity" />
        <activity android:name=".path.ui.HeartBezierActivity" />
        <activity android:name=".eventdispatch.ui.EventDispatchActivity" />
        <activity android:name=".canvas.ui.TaiChiActivity" />
        <activity
            android:name=".resource.ResourcesActivity"
            android:theme="@style/AppTheme.Resource" />
        <activity
            android:name=".materialdesign.ui.MaterialDesignActivity"
            android:label="@string/material_design" />
        <activity
            android:name=".materialdesign.SimpleMaterialDesignActivity"
            android:label="@string/simple_material_design"
            android:theme="@style/AppTheme"
            />
        <activity
            android:name=".materialdesign.NavigationViewActivity"
            android:label="@string/navigation_view"
            android:theme="@style/AppTheme"
            />
        <activity
            android:name=".materialdesign.CoordinatorViewActivity"
            android:label="@string/coordinator_view"
            android:theme="@style/AppTheme"
            />
        <activity
            android:name=".materialdesign.CollapsingLayoutActivity"
            android:label="@string/collapsing_view"
            android:theme="@style/AppTheme"
            />

        <activity
            android:name=".materialdesign.behavior.BottomSheetBehaviorActivity"
            android:label="@string/bottom_sheet_behaviors"
            />

        <activity
            android:name=".materialdesign.BehaviorsActivity"
            android:label="@string/behaviors"
            />

        <activity
            android:name=".materialdesign.behavior.BackTopActivity"
            android:label="@string/back_top"
            />

        <activity
            android:name=".materialdesign.behavior.SwipeDismissBehaviorActivity"
            android:label="@string/swipe_dismiss"
            />

        <activity
            android:name=".materialdesign.behavior.ZhihuActivity"
            android:label="@string/zhi_hu"
            />

        <activity
            android:name=".canvas.ui.CanvasSaveRestoreActivity"
            android:label="@string/canvas_save_restore"
            />

        <activity
            android:name=".canvas.ui.CanvasLayerActivity"
            android:label="@string/canvas_layer"
            />

        <activity
            android:name=".canvas.ui.RuleViewActivity"
            android:label="@string/rule_view"
            />

        <activity
            android:name=".canvas.ui.CanvasActivity"
            android:label="@string/canvas"
            />

        <activity
            android:name=".scroller.ui.ScrollerActivity"
            android:label="@string/scroller"
            />

        <activity
            android:name=".canvas.ui.RecursiveActivity"
            android:label="@string/recursive_view"
            />

        <activity android:name=".canvas.ui.RotateClockViewActivity"
            android:label="@string/rotate_clock"
            />

        <activity android:name=".canvas.ui.CanvasSkewActivity"
            android:label="@string/canvas_skew"
            />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="0fc13e70413cbeeb842b7c7e7fddeeae7012f5fa" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>