<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lucky.customviewlearn">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".CustomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".scroller.ScrollerLearnActivity" />
        <activity android:name=".scroller.ExtScrollerLearnActivity" />
        <activity android:name=".scroller.AdvancedScrollerActivity" />
        <activity android:name=".canvas.ui.PieViewLearnActivity" />
        <activity android:name=".canvas.ui.CheckMarkActivity" />
        <activity android:name=".canvas.ui.CustomCircleActivity" />
        <activity android:name=".path.ui.PathViewActivity" />
        <activity android:name=".path.ui.HeartBezierActivity" />
        <activity android:name=".eventdispatch.EventDispatchActivity" />
        <activity android:name=".canvas.ui.TaiChiActivity" />
        <activity
            android:name=".resource.ResourcesActivity"
            android:theme="@style/AppTheme.Resource" />
        <activity
            android:name=".material.ui.MaterialDesignActivity"
            android:label="@string/material_design" />
        <activity
            android:name=".material.SimpleMaterialDesignActivity"
            android:label="@string/simple_material_design"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".material.NavigationViewActivity"
            android:label="@string/navigation_view"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".material.CoordinatorViewActivity"
            android:label="@string/coordinator_view"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".material.CollapsingLayoutActivity"
            android:label="@string/collapsing_view"
            android:theme="@style/CollapsingTheme" />

        <activity
            android:name=".material.behavior.BottomSheetBehaviorActivity"
            android:label="@string/bottom_sheet_behaviors" />

        <activity
            android:name=".material.BehaviorsActivity"
            android:label="@string/behaviors" />

        <activity
            android:name=".material.behavior.BackTopActivity"
            android:label="@string/back_top" />

        <activity
            android:name=".material.behavior.SwipeDismissBehaviorActivity"
            android:label="@string/swipe_dismiss" />

        <activity
            android:name=".material.behavior.ZhihuActivity"
            android:label="@string/zhi_hu" />

        <activity
            android:name=".canvas.saverestore.CanvasSaveRestoreActivity"
            android:label="@string/canvas_save_restore" />

        <activity
            android:name=".canvas.layer.CanvasLayerActivity"
            android:label="@string/canvas_layer" />

        <activity
            android:name=".canvas.ui.RuleViewActivity"
            android:label="@string/rule_view" />

        <activity
            android:name=".canvas.ui.CanvasActivity"
            android:label="@string/canvas" />

        <activity
            android:name=".scroller.ScrollerMainActivity"
            android:label="@string/scroller" />

        <activity
            android:name=".canvas.ui.RecursiveActivity"
            android:label="@string/recursive_view" />

        <activity
            android:name=".canvas.ui.RotateClockViewActivity"
            android:label="@string/rotate_clock" />

        <activity
            android:name=".canvas.ui.CanvasSkewActivity"
            android:label="@string/canvas_skew" />

        <activity
            android:name=".canvas.ui.TexasSwitchButtonActivity"
            android:label="@string/canvas_skew" />

        <activity
            android:name=".canvas.ui.SeekBarActivity"
            android:label="@string/seek_bar" />

        <activity
            android:name=".material.MaterialThemeActivity"
            android:label="@string/material_theme"
            android:theme="@style/MaterialTheme" />

        <activity
            android:name=".material.ui.MaterialMainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:theme="@style/DefaultTheme"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

        <activity
            android:name=".material.ui.taransitions.TransitionsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/DefaultTheme" />

        <activity
            android:name=".material.ui.taransitions.ExplodeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/DefaultTheme" />

        <activity
            android:name=".material.ui.taransitions.FadeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/DefaultTheme" />

        <activity
            android:name=".material.ui.taransitions.SlideActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/DefaultTheme" />
        <activity
            android:name=".material.ui.taransitions.ShareActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/DefaultTheme" />

        <activity
            android:name=".material.ui.widget.WidgetActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/WidgetTheme" />

        <activity
            android:name=".scroller.DragViewActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="DragView" />

        <activity
            android:name=".scroller.ViewDragHelperActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="ViewDragHelper" />

        <activity
            android:name=".scroller.AdvancedDragViewActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="AdvancedDragView" />

        <activity
            android:name=".canvas.base.SimpleCanvasActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="SimpleCanvas" />

        <activity
            android:name=".canvas.ui.XmlPaintActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Android XML绘图" />

        <activity
            android:name=".canvas.ui.CustomGridViewActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Android XML绘图" />

        <activity
            android:name=".canvas.surfaceview.SurfaceViewActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="SurfaceView" />

        <activity
            android:name=".canvas.imageprocess.ImageProcessActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="图像处理" />

        <activity
            android:name=".canvas.imageprocess.ImageColorMatrixActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="ColorMatrix" />

        <activity
            android:name=".canvas.imageprocess.ImageMatrixActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="图像矩阵变换" />

        <activity
            android:name=".canvas.imageprocess.ImageMatrixSimpleActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="图像矩阵变换简化版" />

        <activity
            android:name=".canvas.specialeffects.PorterDuffXferModeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="图像画笔特效" />

        <activity
            android:name=".canvas.imageprocess.GuaGuaCardActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="刮刮卡" />

        <activity
            android:name=".canvas.imageprocess.CircleBitmapShaderActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="图片Shader" />

        <activity
            android:name=".canvas.imageprocess.ReflectViewActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="倒影图片" />

        <activity
            android:name=".canvas.imageprocess.PathEffectViewActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="PathEffect" />

        <activity
            android:name=".canvas.ui.ArcProgressActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="ArcProgress" />

        <activity
            android:name=".canvas.ui.NBScrollRulerActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="NBScrollRuler" />

        <activity
            android:name="com.lucky.androidlearn.aidl.BookManagerActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="BookManagerService" />

        <activity
            android:name=".canvas.ui.SignatureViewActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/signature_view" />

        <activity
            android:name=".canvas.ui.SignaturePadViewActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/signature_pad_view" />

        <!-- Scheme协议跳转 -->
        <activity
            android:name=".CustomViewActivity"
            android:label="自定义View App">
            <intent-filter>
                <action android:name="com.aragoncs.launch" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="scan"
                    android:scheme="aragoncs" />
            </intent-filter>
        </activity>
    </application>

</manifest>